APP_DOMAIN=app.quickdelivery.example
API_DOMAIN=api.quickdelivery.example
AUTH_DOMAIN=auth.quickdelivery.example

MYSQL_ROOT_PASSWORD=StrongRootPassword_ChangeMe
QUICKDELIVERY_DB_USERNAME=QuickDelivery
QUICKDELIVERY_DB_PASSWORD=StrongQuickDeliveryPassword_ChangeMe
KEYCLOAK_DB_USERNAME=KeycloakUser
KEYCLOAK_DB_PASSWORD=StrongKeycloakPassword_ChangeMe

CONFIG_SERVER_USERNAME=configuser
CONFIG_SERVER_PASSWORD=StrongConfigPassword_ChangeMe
KEYCLOAK_ADMIN_USERNAME=bael-admin
KEYCLOAK_ADMIN_PASSWORD=StrongAdminPassword_ChangeMe
GATEWAY_INTERNAL_TOKEN=StrongInternalToken_ChangeMe

GOOGLE_MAPS_KEY=AIzaSyReplaceWithYourProductionKey
MAPQUEST_KEY=ReplaceWithYourProductionKey

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=no-reply@quickdelivery.example
MAIL_PASSWORD=ReplaceWithMailPassword
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS_ENABLE=true
MAIL_DEBUG=false

QUICKDELIVERY_OCR_TEXTRACT_ENABLED=true
QUICKDELIVERY_OCR_TEXTRACT_REGION=eu-west-3
AWS_ACCESS_KEY_ID=ReplaceWithAwsAccessKeyId
AWS_SECRET_ACCESS_KEY=ReplaceWithAwsSecretAccessKey
AWS_REGION=eu-west-3
AWS_S3_BUCKET=quickdelivery-prod-eu-west-3
USERS_DOCS_MODE=s3
PACKAGES_DOCS_MODE=s3
PACKAGES_PUSH_FIREBASE_ENABLED=true
PACKAGES_PUSH_FIREBASE_PROJECT_ID=quickdelivery-c956e

