APP_DOMAIN=app.quickdelivery.tld
API_DOMAIN=api.quickdelivery.tld
AUTH_DOMAIN=auth.quickdelivery.tld

MYSQL_ROOT_PASSWORD=ChangeMeRootPassword
QUICKDELIVERY_DB_USERNAME=QuickDelivery
QUICKDELIVERY_DB_PASSWORD=QuickDelivery123@
KEYCLOAK_DB_USERNAME=KeycloakUser
KEYCLOAK_DB_PASSWORD=Keycloak123@

CONFIG_SERVER_USERNAME=configuser
CONFIG_SERVER_PASSWORD=configpass
KEYCLOAK_ADMIN_USERNAME=bael-admin
KEYCLOAK_ADMIN_PASSWORD=pass
GATEWAY_INTERNAL_TOKEN=quickdelivery-internal-token

GOOGLE_MAPS_KEY=
MAPQUEST_KEY=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS_ENABLE=true
MAIL_DEBUG=false

