APP_DOMAIN=app.quickdelivery.tld
API_DOMAIN=api.quickdelivery.tld
AUTH_DOMAIN=auth.quickdelivery.tld

MYSQL_ROOT_PASSWORD=ChangeMeRootPassword
QUICKDELIVERY_DB_USERNAME=QuickDelivery
QUICKDELIVERY_DB_PASSWORD=ChangeMeQuickDeliveryPassword
KEYCLOAK_DB_USERNAME=KeycloakUser
KEYCLOAK_DB_PASSWORD=ChangeMeKeycloakPassword

CONFIG_SERVER_USERNAME=configuser
CONFIG_SERVER_PASSWORD=ChangeMeConfigPassword
KEYCLOAK_ADMIN_USERNAME=bael-admin
KEYCLOAK_ADMIN_PASSWORD=ChangeMeKeycloakAdminPassword
GATEWAY_INTERNAL_TOKEN=ChangeMeGatewayInternalToken

GOOGLE_MAPS_KEY=
MAPQUEST_KEY=

MAIL_HOST=smtp.ionos.fr
MAIL_PORT=587
MAIL_USERNAME=admin@quickdelivery.fr
MAIL_PASSWORD=
MAIL_FROM=admin@quickdelivery.fr
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS_ENABLE=true
MAIL_DEBUG=false

QUICKDELIVERY_OCR_TEXTRACT_ENABLED=false
QUICKDELIVERY_OCR_TEXTRACT_REGION=eu-west-3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-west-3
AWS_S3_BUCKET=
USERS_DOCS_MODE=local
PACKAGES_DOCS_MODE=local
PACKAGES_PUSH_FIREBASE_ENABLED=false
PACKAGES_PUSH_FIREBASE_PROJECT_ID=

