APP_DOMAIN=app.quickdelivery.tld
API_DOMAIN=api.quickdelivery.tld
AUTH_DOMAIN=auth.quickdelivery.tld

MYSQL_ROOT_PASSWORD=CHANGE_ME_MYSQL_ROOT_PASSWORD
QUICKDELIVERY_DB_USERNAME=QuickDelivery
QUICKDELIVERY_DB_PASSWORD=CHANGE_ME_QUICKDELIVERY_DB_PASSWORD
KEYCLOAK_DB_USERNAME=KeycloakUser
KEYCLOAK_DB_PASSWORD=CHANGE_ME_KEYCLOAK_DB_PASSWORD

CONFIG_SERVER_USERNAME=configuser
CONFIG_SERVER_PASSWORD=CHANGE_ME_CONFIG_SERVER_PASSWORD
KEYCLOAK_ADMIN_USERNAME=bael-admin
KEYCLOAK_ADMIN_PASSWORD=CHANGE_ME_KEYCLOAK_ADMIN_PASSWORD
GATEWAY_INTERNAL_TOKEN=CHANGE_ME_GATEWAY_INTERNAL_TOKEN

GOOGLE_MAPS_KEY=CHANGE_ME_GOOGLE_MAPS_KEY
MAPQUEST_KEY=CHANGE_ME_MAPQUEST_KEY

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=CHANGE_ME_MAIL_USERNAME
MAIL_PASSWORD=CHANGE_ME_MAIL_PASSWORD
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS_ENABLE=true
MAIL_DEBUG=false

