[ req ]
default_bits           = 2048
distinguished_name     = req_distinguished_name
req_extensions         = req_ext

[ req_distinguished_name ]
countryName            = FR
stateOrProvinceName    = VALDEMARNE
localityName           = LIMEILBREVANES
organizationName       = example
commonName             = example

[ req_ext ]
subjectAltName = @alt_names

[alt_names]
DNS.1   = quickdelivery.com
IP      = 192.168.1.91