body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }
  ul li{
    list-style: none;
  }
  a{
    color: #000;
  }
  #app{
    height: 100vh;
  }
  ul li{
    list-style: none;
  }
  a{
    color: #000;
    text-decoration: none;
  }
.btn{
  padding: 5px 20px;
  border-radius: 5px;
  transition: all 300ms;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}
.primary_btn{
    border: solid 2px #467fd0;
    background-color: #467fd022;
  }
  .primary_btn:hover{
    background-color: #467fd0;
    color: #fff;
  }
  .confirm_btn{
    border: solid 2px #29ba8e;
    background-color: #42ba9622;
  }
  .confirm_btn:hover{
    background-color: #42ba96;
    color: #fff;
  }
  .danger_btn{
    border: solid 2px #df4759;
    background-color: #df475922;
  }
  .danger_btn:hover{
    background-color: #df4759;
    color: #fff;
  }
  .warning_btn{
    border: solid 2px #fd9644;
    background-color: #fd964422;
  }
  .warning_btn:hover{
    background-color: #fd9644;
    color: #fff;
  }
  input,
  select{
    border: solid 2px #0086df56;
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 15px;
    padding: 0 5px;
    transition: all 300ms;
  }

  input:hover,
  select:hover{
    border: solid 2px #0086df;
  }

  .errorMessage{
    font-style: italic;
    color: red;
  }
  /**info bull */
 .infobull{
  position: relative;
  display: inline-block;
}
.infobull::after{
  content: attr(data-tooltip);
  width: max-content;
  font-size: 12px;
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  background-color: #3333339a;
  color: #fff;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}
.infobull:hover::after{
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 600px){
  .infobull:hover::after{
    opacity: 0;
    visibility: hidden;
  }
  input,
  select{
    height: 40px;
    font-size: 15px;
  }
  .btn{
    font-size: 16px;
  }
}