APP_DOMAIN=app.quickdelivery.tld
API_DOMAIN=api.quickdelivery.tld
AUTH_DOMAIN=auth.quickdelivery.tld

CONFIG_SERVER_URL=http://10.0.2.10:8889
DISCOVERY_SERVER_URL=http://10.0.2.10:8080/eureka/
KEYCLOAK_INTERNAL_URL=http://10.0.2.10:18443/auth
KEYCLOAK_PUBLIC_ISSUER=https://auth.quickdelivery.tld/auth/realms/quickdelivery
QUICKDELIVERY_FRONTEND_BASE_URL=https://app.quickdelivery.tld
QUICKDELIVERY_FRONTEND_LOCAL_HTTP_URL=http://localhost
QUICKDELIVERY_FRONTEND_LOCAL_HTTPS_URL=https://localhost
QUICKDELIVERY_FRONTEND_LOCAL_HTTP_ALT_URL=http://localhost:8080
QUICKDELIVERY_FRONTEND_LOCAL_HTTPS_ALT_URL=https://localhost:8080
REDIS_HOST=10.0.2.10
REDIS_PORT=6379
MYSQL_HOST=10.0.5.10
MYSQL_PORT=3306

USERS_SERVICE_VM3_URL=http://10.0.3.10:8081
USERS_SERVICE_VM4_URL=http://10.0.4.10:8081
PACKAGES_SERVICE_VM3_URL=http://10.0.3.10:8082
PACKAGES_SERVICE_VM4_URL=http://10.0.4.10:8082
PACKAGES_WS_BACKENDS=10.0.3.10:8082,10.0.4.10:8082
PACKAGES_WS_PINNED_URL=ws://10.0.3.10:8082

USERS_SERVICE_URI=lb://users-service
PACKAGES_SERVICE_URI=lb://package-service
PACKAGES_STATEFUL_URI=http://10.0.3.10:8082
PACKAGES_WS_URI=ws://10.0.3.10:8082

CONFIG_SERVER_USERNAME=
CONFIG_SERVER_PASSWORD=
GATEWAY_INTERNAL_TOKEN=

API_GATEWAY_JAVA_TOOL_OPTIONS=-XX:+UseG1GC -XX:InitialRAMPercentage=20 -XX:MaxRAMPercentage=50 -XX:+UseStringDeduplication -XX:MaxGCPauseMillis=200
VM1_LIMIT_CONN_PER_IP=40
VM1_WS_LIMIT_CONN_PER_IP=6
VM1_API_PUBLIC_RATE=20r/s
VM1_API_PUBLIC_BURST=40
VM1_AUTH_PUBLIC_RATE=10r/s
VM1_AUTH_PUBLIC_BURST=20
VM1_TRACKING_PUBLIC_RATE=15r/s
VM1_TRACKING_PUBLIC_BURST=30
VM1_STATIC_CACHE_EXPIRES=7d
