APP_DOMAIN=app.quickdelivery.tld
API_DOMAIN=api.quickdelivery.tld
AUTH_DOMAIN=auth.quickdelivery.tld

CONFIG_SERVER_URL=http://10.0.2.10:8889
DISCOVERY_SERVER_URL=http://10.0.2.10:8080/eureka/
KEYCLOAK_INTERNAL_URL=http://10.0.2.10:18443/auth
KEYCLOAK_PUBLIC_ISSUER=https://auth.quickdelivery.tld/auth/realms/quickdelivery

USERS_SERVICE_VM3_URL=http://10.0.3.10:8081
USERS_SERVICE_VM4_URL=http://10.0.4.10:8081
PACKAGES_SERVICE_VM3_URL=http://10.0.3.10:8082
PACKAGES_SERVICE_VM4_URL=http://10.0.4.10:8082
PACKAGES_WS_PINNED_URL=ws://10.0.3.10:8082

CONFIG_SERVER_USERNAME=
CONFIG_SERVER_PASSWORD=
GATEWAY_INTERNAL_TOKEN=

API_GATEWAY_JAVA_TOOL_OPTIONS=-XX:+UseG1GC -XX:InitialRAMPercentage=20 -XX:MaxRAMPercentage=50 -XX:+UseStringDeduplication -XX:MaxGCPauseMillis=200
