APP_DOMAIN=app.quickdelivery.tld
API_DOMAIN=api.quickdelivery.tld
AUTH_DOMAIN=auth.quickdelivery.tld

CONFIG_SERVER_USERNAME=
CONFIG_SERVER_PASSWORD=

MYSQL_HOST=10.0.5.10
MYSQL_PORT=3306
KEYCLOAK_DB_NAME=KeycloakDB
KEYCLOAK_DB_USERNAME=
KEYCLOAK_DB_PASSWORD=

KEYCLOAK_ADMIN_USERNAME=
KEYCLOAK_ADMIN_PASSWORD=
QUICKDELIVERY_FRONTEND_BASE_URLS=https://app.quickdelivery.tld

DISCOVERY_SERVER_JAVA_TOOL_OPTIONS=-XX:+UseG1GC -XX:InitialRAMPercentage=10 -XX:MaxRAMPercentage=35 -XX:+UseStringDeduplication -XX:MaxGCPauseMillis=200
CONFIG_SERVER_JAVA_TOOL_OPTIONS=-XX:+UseG1GC -XX:InitialRAMPercentage=10 -XX:MaxRAMPercentage=35 -XX:+UseStringDeduplication -XX:MaxGCPauseMillis=200
OAUTH_SERVER_JAVA_TOOL_OPTIONS=-XX:+UseG1GC -XX:InitialRAMPercentage=15 -XX:MaxRAMPercentage=45 -XX:+UseStringDeduplication -XX:MaxGCPauseMillis=200
