APP_DOMAIN=app.quickdelivery.tld
API_DOMAIN=api.quickdelivery.tld
AUTH_DOMAIN=auth.quickdelivery.tld
APP_NODE_PRIVATE_IP=10.0.4.10

CONFIG_SERVER_URL=http://10.0.2.10:8889
DISCOVERY_SERVER_URL=http://10.0.2.10:8080/eureka/
MYSQL_HOST=10.0.5.10
MYSQL_PORT=3306

QUICKDELIVERY_DB_NAME=QuickDeliveryDB
QUICKDELIVERY_DB_USERNAME=
QUICKDELIVERY_DB_PASSWORD=

CONFIG_SERVER_USERNAME=
CONFIG_SERVER_PASSWORD=
GATEWAY_INTERNAL_TOKEN=

KEYCLOAK_ADMIN_USERNAME=
KEYCLOAK_ADMIN_PASSWORD=

MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS_ENABLE=true
MAIL_DEBUG=false

GOOGLE_MAPS_KEY=
MAPQUEST_KEY=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-west-3
AWS_S3_BUCKET=
QUICKDELIVERY_SECURITY_CAPTCHA_ENABLED=true
QUICKDELIVERY_SECURITY_CAPTCHA_PROVIDER=turnstile
QUICKDELIVERY_SECURITY_CAPTCHA_TURNSTILE_SECRET_KEY=CHANGE_ME_TURNSTILE_SECRET_KEY
QUICKDELIVERY_OCR_TEXTRACT_ENABLED=true
QUICKDELIVERY_OCR_TEXTRACT_REGION=eu-west-3

USERS_DOCS_MODE=s3
PACKAGES_DOCS_MODE=s3
QUICKDELIVERY_CACHE_TTL_SECONDS=15
QUICKDELIVERY_TRACKING_INSTANCE_ID=package-service-vm4
QUICKDELIVERY_TRACKING_REDIS_ENABLED=true
QUICKDELIVERY_TRACKING_REDIS_CHANNEL=quickdelivery:tracking:position
REDIS_HOST=10.0.2.10
REDIS_PORT=6379
REDIS_PASSWORD=

USERS_SERVICE_JAVA_TOOL_OPTIONS=-XX:+UseG1GC -XX:InitialRAMPercentage=20 -XX:MaxRAMPercentage=60 -XX:+UseStringDeduplication -XX:MaxGCPauseMillis=200
PACKAGES_SERVICE_JAVA_TOOL_OPTIONS=-XX:+UseG1GC -XX:InitialRAMPercentage=20 -XX:MaxRAMPercentage=60 -XX:+UseStringDeduplication -XX:MaxGCPauseMillis=200
PACKAGES_PUSH_FIREBASE_ENABLED=true
PACKAGES_PUSH_FIREBASE_PROJECT_ID=CHANGE_ME_FIREBASE_PROJECT_ID
